.bg-cover{
    background: url('https://images.unsplash.com/photo-1585559605812-6a171aee74be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

.information{
    font-weight: normal;
}

/*EXPERIMENTAL*/
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width:8px;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 0px;
}

*::-webkit-scrollbar-track {
    border-radius: 0em;  
}